.header ul,
.header .logo {
	padding: 10px;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	background-color: #1f2937;
	padding-left: 200px;
	padding-right: 200px;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid blue;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 80px;
	min-width: 80px;
	min-height: 80px;
	padding: 20px;
	border-radius: 15px;
}

.body {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
}

.header ul {
	list-style-type: none;
	display: flex;
	gap: 15px;
	padding: 10px;
	color: #e5e7eb;
}

.header .logo {
	margin-right: auto;
	color: #f9faf8;
}

.section1 {
	display: flex;
	background-color: #1f2937;
	align-items: center;
	justify-content: center;
	padding: 30px;
	color: #e5e7eb;
	gap: 20px;
	padding-left: 200px;
	padding-right: 200px;
	flex: 1;
}

.section1 button {
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 15px;
}

.section1 .right {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #999999;
	color: black;
	padding: 40px;
	min-width: 300px;
	min-height: 180px;
}

.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	padding: 30px;
	gap: 50px;
	flex: 1;
}

.section2 .picture {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section2 .top {
	font-weight: 700;
	font-size: 30px;
}

.section2 .bottom {
	display: flex;
	gap: 50px;
	padding-left: 200px;
	padding-right: 200px;
}

.section3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dddddd;
	padding: 20px;
	flex: 1;
}

.section3 .quote {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	padding-left: 200px;
	padding-right: 200px;
}

.section3 .author {
	align-self: flex-end;
	font-weight: bold;
}

.section4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	flex: 1;
}

.modal {
	display: flex;
	background-color: skyblue;
	padding: 20px;
	gap: 20px;
	align-items: center;
}

.modal button {
	background-color: skyblue;
	color: white;
	border: 2px solid white;
	padding: 10px;
	border-radius: 15px;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: #1f2937;
	padding: 20px;
	color: #e5e7eb;
}
